<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" http-equiv="Content-Language" content="pt-br">
<title>Insert title here</title>
</head>
<body>

	<h1>Epick task</h1>
	
	<h2>Cadastrar tarefa</h2>
	
	<form action="/cadastrarUser" method="POST">
	
		<label for="name">Nome</label>
		<input name="name" id="name"/>
		
		<label for="email">Email</label>
		<input name="email" id="email"/>
		
		<label for="password">Senha</label>
		<input type="password" name="password" id="password"/>
		
		<h4><a href="/login">Fazer login</a></h4>
		<a href="/login"><button>Cadastrar</button></a>
			
	</form>	

	
</body>
</html>