<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" http-equiv="Content-Language" content="PT-BR"> 
<title>Insert title here</title>
</head>
<body>

	<h1>Epick task</h1>
	
	<h2>Cadastrar tarefa</h2>
	
	<form action="">
	
		<label for="email">Email</label>
		<input name="email" id="email"/>
		
		<label for="pass">Senha</label>
		<input type="password" name="password" id="title"/>
		
		
		<h3>Ainda não é cadastrado <a href="/cadastrarUser">Cadastra-se já</a></h3>
		<button>Entrar</button>
				
	</form>

</body>
</html>